*.o
.DS_Store
.*.swp
/env
/.config.old
/bin
/build_dir
/staging_dir
/dl
/tmp
/logs
/feeds
/files
/package/feeds
/package/openwrt-packages
key-build*
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
