<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%+header%>
<h2><a id="content" name="content"><%:Device Reboot%></a></h2>
<!-- <h3><%:Reboot%></h3> -->

<%-
local c = require("luci.model.uci").cursor():changes()
if c and next(c) then
-%>
	<p class="warning"><%:Warning: There are unsaved changes that will be lost while rebooting!%></p> 
<%-
end
if not reboot then 
-%>
			<div class="cbi-value cbi-value-last">
				<label class="cbi-value-title"><%:Restart now%>:</label>
				<div class="cbi-value-field">
					<p><a class="cbi-button" style="height: 34px;line-height: 27px;" href="<%=controller%>/admin/system/reboot?reboot=1"><%:Perform reboot%></a></p> 
				</div>
			</div>
<!-- <p><a href="<%=controller%>/admin/system/reboot?reboot=1"><%:Perform reboot%></a></p> -->
<%- else -%>
<p><%:Please wait: Device rebooting...%></p>
<script type="text/javascript">setTimeout("location='<%=controller%>/admin'", 60000)</script>
<%- end -%>
<%+footer%>